.sidebar-container {
  padding-right: 30px;
  width: 20%;
  border-right: 2px solid var(--ast-global-color-4);
}
.product-search {
  display: flex;
}
.search-field {
  border-color: var(--ast-global-color-10);
  background: #fff;
  box-shadow: none;
  border-radius: 0;
  color: var(--ast-global-color-5);
  padding: 0.75em;
  height: auto;
  border-width: 1px;
  border-style: solid;
  box-sizing: border-box;
  transition: all 0.2s linear;
  width: 100%;
}
.search-button,
.add-to-cart {
  border-style: solid;
  border-width: 2px;
  color: var(--ast-global-color-5);
  border-color: var(--ast-global-color-5);
  background-color: rgba(0, 0, 0, 0);
  border-radius: 0;
  padding: 10px 20px;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
}
.search-button:hover,
.add-to-cart:hover {
  color: var(--ast-global-color-4);
  background-color: var(--ast-global-color-5);
  cursor: pointer;
}
.sidebar-title {
  font-size: 24px;
  font-weight: normal;
  color: var(--ast-global-color-5);
}
.category-container {
  margin-top: 30px;
}
.product-categories {
  margin-top: 30px;
  padding: 0;
  list-style-type: none;
}
.cat-item {
  display: flex;
  justify-content: space-between;
  padding: 2px 0;
  margin-top: 5px;
}
.cat-item a {
  color: var(--ast-global-color-10);
}
.cat-item a:hover {
  color: var(--ast-global-color-5);
}
.count {
  line-height: 2;
}
